# Ignore node_modules in frontend and backend
node_modules/
../backend/node_modules/
backend/tests/__pycache__

# Build output
/dist
/tmp
/out-tsc
/bazel-out

# Logs
npm-debug.log
yarn-error.log

# IDE/editor files
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Misc
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System
.DS_Store
Thumbs.db
backend/shared/db/__pycache__/database.cpython-313.pyc
